[Unit]
Description=Payment Service

[Service]
User=root
WorkingDirectory=/app

Environment=CART_HOST=cart.nadalla.store
Environment=CART_PORT=8082
Environment=USER_HOST=user.nadalla.store
Environment=USER_PORT=8081
Environment=AMQP_HOST=rabbitmq.nadalla.store
Environment=AMQP_USER=roboshop
Environment=AMQP_PASS=roboshop123

ExecStart=/usr/local/bin/uwsgi --ini payment.ini
ExecStop=/bin/kill -9 $MAINPID
SyslogIdentifier=payment

[Install]
WantedBy=multi-user.target