[Unit]
Description = User Service
[Service]
User=roboshop
Environment=USER_SERVER_PORT=8083
// highlight-start
Environment=REDIS_URL='redis://redis.nadalla.store:6379'
Environment=MONGO_URL="mongodb://mongodb.nadalla.store:27017/users"
// highlight-end
ExecStart=/bin/node /app/server.js
SyslogIdentifier=user

[Install]
WantedBy=multi-user.target